{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ cooker.username }}
    <a href="{% url 'restaurant:cook-delete' pk=cooker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'restaurant:cook-update' pk=cooker.id %}" class="btn btn-secondary link-to-page">
      Update cooker info
    </a>
  </h1>

  <p><strong>First name:</strong> {{ cooker.first_name }}</p>
  <p><strong>Last name:</strong> {{ cooker.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ cooker.years_of_experience}}</p>

  <div class="ml-3">
    <h4>Dishes</h4>

    {% for dish in cooker.dishes.all %}
        <hr>
        <p><strong>Dish:</strong> {{ dish.name }}</p>
        <p><strong>Price:</strong> {{ dish.price }}</p>
        <p class="text-muted"><strong>Id:</strong> {{dish.id}}</p>
    {% empty %}
      <p>No dishes!</p>
    {% endfor %}

  </div>
{% endblock %}
