{% extends "base.html" %}
{% load static %}
{% block title %}<title>Dish detail</title>{% endblock %}
{% block content %}
  {% if user in dish.cookers.all %}
    <a class="btn btn-danger link-to-page" style="float: right" href="{% url 'restaurant:toggle-dish-assign' pk=dish.id %}">
      Delete me from this dish
    </a>
  {% else %}
    <a class="btn btn-success link-to-page" style="float: right" href="{% url 'restaurant:toggle-dish-assign' pk=dish.id %}">
      Assign me to this dish
    </a>
  {% endif %}
  <h1>Type</h1>
    <hr>
    <br>
      <p>{{ dish.dish_type }}</p>
    <br>
    {% if dish.image %}
    <img
        src="{{ dish.image.url }}" alt="dish-image"
        style="float: right; margin: 0 100px 100px 100px;
        border: 10px solid black;"
        class="rounded-circle" width="460px" height="460px"
    >
    {% else %}
    <img
        src="{% static "images/dish.png" %}" alt="dish-image"
        style="float: right; margin: 0 100px 100px 100px;
        border: 10px solid black;"
        class="rounded-circle" width="460px" height="460px"
    >
  {% endif %}
  <h1>Description</h1>
  <hr>
  <br>
    <p>{{ dish.description }}</p>
  <br>
  <h1>Ingredients</h1>
  <hr>
  <br>
    <ul>
      {% for ingredient in dish.ingredients.all %}
        <li>{{ ingredient.name }}</li>
      {% endfor %}
    </ul>
  <br>
  <h1>Cookers</h1>
  <hr>
  <br>
    <ul>
    {% for cooker in dish.cookers.all %}
      <li><a href="{% url 'restaurant:cook-detail' pk=cooker.id %}"> {{ cooker.username }} </a></li>
    {% endfor %}
    </ul>
  <br>
  <h1>Price</h1>
  <hr>
  <br>
    <li>{{ dish.price }}</li>
  <br>
  <br>
  <p>
    <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-primary">
      Update dish
    </a>
    <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger">
      Delete dish
    </a>
  </p>
{% endblock %}
