{% extends "base.html" %}
{% block title %}<title>Ingredients</title>{% endblock %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    List of ingredients
    <a href="{% url 'restaurant:ingredient-create' %}" class="btn btn-primary link-to-page"  style="float: right">
      Create
    </a>
  <hr>
  </h1>
  <br>
  <form class="form-inline" method="get" action="">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  <br>
  {% if ingredient_list %}
    <table class="table">
    <br>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for ingredient in ingredient_list %}
        <tr>
          <td>
              {{ ingredient.name }}
          </td>
          <td>
              {{ ingredient.price }} pln
          </td>
          <td>
              <a href="{% url 'restaurant:ingredient-update' pk=ingredient.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'restaurant:ingredient-delete' pk=ingredient.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>
    <br>
  {% else %}
      <p>There are no ingredients...</p>
  {% endif %}
{% endblock %}
